{
  "type": "service_account",
  "project_id": "calendar-sync-tmp",
  "private_key_id": "c****************************",
  "private_key": "-----BEGIN PRIVATE KEY-----\n==\n-----END PRIVATE KEY-----\n",
  "client_email": "google-calendar-sync-tmp@calendar-sync-tmp.iam.gserviceaccount.com",
  "client_id": "1*************************",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/google-calendar-sync-tmp%40calendar-sync-tmp.iam.gserviceaccount.com"
}
